* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

p {
    margin: 0;
}

/*Zona navegable*/

.navbar-brand {
    width: 10rem;
    margin-right: 10rem;
}

.logo {
    width: 100%;
    height: 100%;
}

.fa-cart-shopping {
    padding: 0 20px;
    font-size: 23px;
    color: black;
}

.nav-link {
    color: black;
}

.navbar-nav {
    font-size: 19px;
    gap: 18px;
}

.form-control:hover {
    box-shadow: none;
}

/* Carousel */

.carousel-inner {
    max-height: 33.5rem;
}

.img-fluid {
    max-height: 33rem;
    object-fit: cover;
}

.carousel-control-prev {
    justify-content: start;
    padding-left: 1.5rem;
}

.carousel-control-next {
    justify-content: end;
    padding-right: 1.5rem;
}

/* titulo*/

.conteiner-tittle {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}

/*Productos index*/

.products {
    background-color: #F5F5F5;
}

figure {
    height: 15.4rem;
    width: 15rem;
}

.productimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#row-index {
    padding: 1rem 1rem 2rem 1rem;
    gap: 1.5rem;
    width: 100%;
    margin: 0;
    justify-content: center;
}

#products-card {
    border-radius: 10px;
    width: 19rem;
    padding: 10px 0;
    background-color: white;
    box-shadow: 1px 1px 4px 2px #aaadaf;
    transition: all 400ms ease;
    display: grid;
    justify-content: center;
}

#products-card:hover {
    box-shadow: 4px 4px 5px 4px #aaadaf;
    transform: translateY(-3px);
}

.price {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    font-size: 25px;
}

.name {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    font-size: 25px;
}

.memory {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    font-size: 22.5px;
}

.conteiner-button {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.buy {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
}

.buy:hover {
    background-color: black;
    color: white;
}

/*footer*/

#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
    width: 100%;
    background-color: #F5F5F5;
    box-shadow: 0 -2px 3px 2px #aaadaf;
}

.footer-logo {
    display: flex;
}

.footer-img {
    width: 10rem;
}

.social-networks {
    display: flex;
    align-items: center;
}

.instagram {
    height: 34px;
    width: 55px;
    padding-left: 20px;
}

.fa-facebook {
    font-size: 34px;
    color: #3b5998;
    padding-left: 30px;
}

.location-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 20px;
}

.phone-number {
    padding-right: 15px;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 20px;
}

.fa-location-dot {
    color: #D2001A;
    font-size: 20px;
}

.fa-phone {
    color: #D2001A;
    font-size: 20px;
}

@media screen and (max-width:860px) {
    #footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 1rem;
        justify-items: center;
    }

    .footer-logo {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
    }

    .social-networks {
        grid-area: 2 / 1 / 3 / 2;
    }

    .location-info {
        grid-area: 4 / 1 / 5 / 2;
    }

    .phone-number {
        grid-area: 3 / 1 / 4 / 2;
    }
}

/* PAGE xiaomi-motorola-samsung*/

.tittles-section {
    font-size: 25px;
    padding: 1.5rem 0 1rem 2rem;
    display: flex;
    gap: 20px;
    background-color: #F5F5F5;
    margin: 0;
    color: #D2001A;
}

.second-tittle {
    background-color: #F5F5F5;
    padding: 1rem 0 2rem 2rem;
    font-size: 30px;
    color: #D2001A;
    margin: 0;
}

/*Filtro*/

aside {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #F5F5F5;

    padding-right: 0;
}

.filler {
    font-size: 23px;
    color: grey;
}

h3 {
    padding-left: 2.5rem;
}

.phone-brand {
    display: grid;
    padding: 0.5rem 0 1rem 2.5rem;
}

.marcas {
    padding: 1rem 0;
}

.conteiner-checkbox {
    padding: 5px 0;
}

.conteiner-price-filler {
    padding: 0.5rem 0 1rem 2.5rem;
}

.price-filler {
    display: flex;
    justify-content: left;
}

.conteiner-memory-ram {
    display: grid;
}

.memory-ram {
    justify-content: left;
    padding: 0.5rem 0 1rem 2.5rem;
}

.ram {
    padding: 5px 0 5px 2.5rem;
}

.conteiner-internal-memory {
    display: grid;
}

.internal-memory {
    justify-content: left;
    padding: 1rem 0 1rem 2.5rem;
}

.memoria-interna {
    padding: 5px 0 5px 2.5rem;
}

.filler-mobile {
    display: none;
}

@media screen and (max-width:576px) {
    .col-2 {
        display: none;
    }
    .filler-mobile {
        display: block;
        padding-bottom: 2rem;
    }
    .filler-tittle{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .btn {
        padding: 1rem 2rem;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .col-10{
        width: 100%;
    }
    #principal-content{
        padding: 0;
    }
}

/*Seccion de productos xiaomi-motorola-samsung*/

.conteiner-fluid {
    background-color: #F5F5F5;
    padding-top: 1.5rem;
}

.conteiner-tittle {
    background-color: #F5F5F5;
}

#all-products {
    padding: 0;
    gap: 0;
    margin: 0;
}

.col-2 {
    padding: 0;
    margin: 0;
}

.col-10 {
    padding: 0;
}

#products {
    padding: 0 1.5rem 1.5rem 2rem;
    gap: 1rem;
    width: 100%;
    margin: 0;
    justify-content: center;
}

.page-link {
    color: #D2001A;
}

.page-link:hover {
    background-color: #D2001A;
    color: white;
}

#pagination {
    padding: 1.5rem 0;
    margin: 0;
}

/*Contacto*/

.conteiner-contact {
    background-image: url(../img/contactanos.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.first-tittle {
    font-size: 30px;
    padding: 1rem 0 0 1.5rem;
}

.section-h2 {
    padding: 2rem 0;
    border: 1ps xolid black;
    font-size: 35px;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
}

.personal-info {
    padding: 3rem 0;
    width: 100%;
}

.info-fullname {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.email-phone {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.comment {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.send {
    display: flex;
    justify-content: end;
    padding-right: 24rem;
}

#name {
    padding: 0.4rem 3rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px 2px #aaadaf;
}

#full-name {
    padding: 0.4rem 3rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px 2px #aaadaf;
}

#email {
    padding: 0.4rem 3rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px 2px #aaadaf;
}

#phone {
    padding: 0.4rem 3rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px 2px #aaadaf;
}

#comment {
    padding: 5rem 12.5rem;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px 2px #aaadaf;
}

.send-button {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    background-color: white;
}

.send-button:hover {
    background-color: #D2001A;
    color: white;
}

/*Productos individuales xiaomi-moto-samg*/

.tittles-section {
    font-size: 30px;
}

.tittles-section a {
    color: #D2001A;
    text-decoration: none;
}

.one {
    background-color: #F5F5F5;
    padding: 3rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}

.card-one {
    box-shadow: 1px 1px 4px 2px #aaadaf;
    padding: 1.5rem 0;
}

.card-body {
    height: 100%;
    border-left: 1px solid grey;
    display: grid;
}

.card-body a {
    text-decoration: none;
    color: black;
}

.card-title {
    font-size: 30px;
}

.card-ram {
    font-size: 25px;
}

.card-price {
    font-size: 30px;
    color: #D2001A;
}

.card-method {
    font-size: 20px;
}

.card-retiro {
    font-size: 20px;
}

.table {
    margin-bottom: 0;
}

.specification {
    background-color: #F5F5F5;
}

.specification-name {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    font-size: 25px;
}

.specification-tittle {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.conteiner-similar {
    background-color: #F5F5F5;
    width: 100%;
    padding: 0;
}

.similar {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 3rem;
}

.similar-span {
    border-bottom: 2px solid #aaadaf;
}

.conteiner-product-similar {
    padding: 4rem 0;
    justify-content: center;
    gap: 4rem;
    margin: 0;
    width: 100%;
}

#similar-products {
    display: grid;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px #aaadaf;
    transition: all 400ms ease;
}

.name-similar {
    font-size: 20px;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

/*Page Novedades*/

.novedades {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4rem 1fr 1fr;
    background-image: url(../img/novedadesfondo.jpg);
}

.novedades-rotulo {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.novedades-tittle {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.novedades-item1 {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    justify-content: center;
    padding: 1rem 0;
    background-color: white;
    margin: 5rem;
    border-radius: 10px;
    border: 1px solid white;
}

.novedades-item2 {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    justify-content: center;
    padding: 1rem 0;
    margin: 5rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
}

.novedades-item3 {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    justify-content: center;
    padding: 1rem 0;
    background-color: white;
    margin: 5rem;
    border-radius: 10px;
    border: 1px solid white;
}

.novedades-item4 {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    justify-content: center;
    padding: 1rem 0;
    background-color: white;
    margin: 5rem;
    border-radius: 10px;
    border: 1px solid white;
}

.novedades-item-img {
    height: 100%;
    width: 100%;
    padding: 0 1rem;
}

.novedades-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.novedades-name {
    display: flex;
    justify-content: center;
    font-size: 30px;
}